<!--The content below is only a placeholder and can be replaced.-->
<div class="main-panel">
  <div class="addPanel">
    <div class="FontFamily">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <div class="addDiv">
      <input type="text" id="addName" placeholder="Title..." class="text-cls FontFamily" [(ngModel)] = "textVal" />
      <label for="addName" class="addbtn FontFamily" (click) = "addList(textVal)">Add</label>
    </div>  
  </div>
  <div class="addedDetails FontFamily">
    <ul id="detailsCol">
      <li *ngFor = "let field of lang" #taskLi (click) = "checkedTitle($event)">
        {{field}}
       
        <span [innerHTML] = "closeElmt" class="close pull-right" (click) = "deleteData(taskLi.innerText,$event)"></span>  
        <span class="pull-right">
          <button class="btn">Font Toggle</button>
        </span>
        <span class="pull-right">
          <button class="btn">BG Color</button>
        </span>
        <span class="pull-right">
          <button class="btn">Edit</button>
        </span>
        <app-list></app-list>
      </li>
    </ul>
  </div>
  <div class="AlertArea">
      
  </div>
</div>
