<!--The content below is only a placeholder and can be replaced.-->
<div class="main-panel">
  <div class="addPanel">
    <div>
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <div class="addDiv">
      <input type="text" id="addName" placeholder="Title" class="text-cls" [(ngModel)] = "textVal" />
      <label for="addName" class="addbtn" (click) = "addList(textVal)">Add</label>
    </div>  
  </div>
  <div class="addedDetails">
    <ul id="detailsCol">
      <li *ngFor = "let field of lang">
        {{field}}
        <span [innerHTML] = "closeElmt" class="close" (click) = "deleteData($event)"></span>
      </li>
    </ul>
  </div>
</div>
