.addPanel{
    text-align:center;
    height:136px;
    background-color: #7300AB;
    color: #fff;
}
.FontFamily{
    font-family: cursive;
    font-size: 18px;
}
.text-cls{
    height:36px;
    width:365px;
    background-color: #fff;
    border:1px solid transparent;
}
.addbtn{
    line-height: 39px;
    width: 100px;
    display: inline-block;
    border: 1px solid transparent;
    background-color: #d9d9d9;
    cursor: pointer;
    color: #000; 
}
ul{
    margin:0px;
    padding:0px;
}
ul li{
    list-style:none;
    cursor:pointer;
    width:98.4%;
    display:block;
    vertical-align: middle;
    line-height: 51px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: cursive;
    padding-left: 25px;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    display: inline-block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 10px;
    height: 10px;
    width: 3px;
}

.close{
    display: inline-block;
    padding: 0px 17px 0px 17px;
     
}

.close:hover{
    background-color: red;
    color:#fff;
}

ul li:nth-child(even){
    background-color: #EEEEEE;  
}

ul li:hover{
    background-color: #DDDDDD;
}

ul li.checked{
    background-color: #888888;
    color:#fff;
}

.pull-right{
    float : right;
}

.btn{
    background-color: #79554899;
    cursor: pointer;
    color: #000;
    height: 29px;
    width: 123px;
    border: 1px solid transparent;
    margin-left: 5px;
    font-family: cursive;
    font-size: 15px;
}

.color1{
    background-color: #FFC300 !important;
    color: #fff;
}

.color2{
    background-color: #FF5733 !important;
    color: #fff;    
}

.color3{
    background-color: #C70039 !important;
    color: #fff;    
}

.color4{
    background-color: #900C3E !important;
    color: #fff;    
}

.color5{
    background-color: #FFF;
    color: #000;
}

.font16{
    font-size : 16px;
}